body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-box {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px  10px rgb(211, 211, 211);
}

.submit-button{
  width: 18rem;
  text-align: center;
}

.card-title{
  text-align: center;
  font-family: system-ui;
}
